.navbar {
  background: #5a8ad1;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0px;
  align-items: center;
  -webkit-clip-path: polygon(6% 2%, 2% 30%, 2% 100%, 89% 88%, 93% 70%, 94% 4%);
  clip-path: polygon(6% 2%, 2% 30%, 2% 100%, 89% 88%, 93% 70%, 94% 4%);
  background: linear-gradient(120.93deg, #03294a 4.58%, #091321 91.02%);
}
.heading {
  margin-left: 30px;
  font-family: "Orbitron";
}
.navbarWrapper {
  margin-top: 20px;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin-top: 20px;
  /* padding: 20px;
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: center; */
  -webkit-clip-path: polygon(6% 2%, 2% 30%, 2% 100%, 89% 88%, 93% 70%, 94% 4%);
  clip-path: polygon(6% 2%, 2% 30%, 2% 100%, 89% 88%, 93% 70%, 94% 4%);
  /* background: linear-gradient(120.93deg, #03294a 4.58%, #091321 91.02%); */
}
.link {
  text-decoration: none;
  color: orange;
  padding: 10px;
  font-family: "Orbitron";
}
.active {
  color: #081522;
  background: orange;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  padding: 43px;
  font-size: 20px;
  font-weight: 900;
}
.title {
  font-size: 30px;
  font-weight: 800;
  margin-right: 20px;
  color: #ff0b0b;

  opacity: 0.7;
}
