.array {
  display: flex;
}

.arrayItem {
  display: flex;
  padding: 20px;
  background: #c3ccd9;
  color: orange;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(120.93deg, #03294a 4.58%, #091321 91.02%);
}
.button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  background: #44689e;
  color: orange;
  margin-top: 15px;
}
.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  width: 50%;
  color: orange;
}
.heading {
  color: orange;
}
.input {
  width: 50px;
  padding: 3px;
  font-size: 18px;
}
.quiz {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.formInput {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.radioGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.radioGroup > label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.questionLabel {
  margin-bottom: 8px;
}
